@import './variables.scss';

.about {
  padding-top: 2.2em;
  .banner {
    height: 299px;
  }

  .about-dropdown {
    padding-top: 42px;
    padding-inline: 7em;
  }

  @media only screen and (max-width: 950px) {
    .about-dropdown {
      padding-top: 0.28em;
      padding-inline: 0;
      padding-top: 0;
      gap: 1em;
    }
  }
}






