@import './variables.scss';

.about {
  margin-bottom: 8rem;
  .about-dropdown {
    padding-inline: 6rem;
  }

  @media only screen and (max-width: 1001px) {
    .about-dropdown {
      padding-inline: 0;
    }
  }
}
