@import './variables.scss';

.banner {
  overflow: hidden;
  position: relative;
  height: 290px;
  max-width: 100%;
  text-align: center;

  .banner-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0;
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    color: $color-3;
    z-index: 1;
    gap: 1rem;
  }

  .img {
    height: 100%;
    height: 290px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(0.6);
  }
}
@media only screen and (max-width: 1350px) {
  .banner .banner-text {
    font-size: 48px;
  }
}

@media only screen and (max-width: 950px) {
  .banner {
    height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 12px;

    & .img {
      border-radius: 15px;
    }
    & .banner-text {
      display: flex;
      height: 100%;
      width: 100%;
      font-size: 32px;
      font-weight: 500;
      justify-content: center;
      flex-flow: wrap;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0.8em;
      // line-height: 150%; /* 25.668px */
      // align-items: center;
      text-align: center;
      gap: 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .banner .banner-text {
    font-size: 20px;
    margin-top: 0;
    line-height: 120%; /* 19.964px */
  }
}

@media only screen and (max-width: 300px) {
  .banner {
    padding-top: 0;
  }
}
