@import './variables.scss';

.card-container {
  color: $color-1;
  padding-top: 0.4em;

  @media screen and (max-width: 950px) {
    padding-top: 1.5em;
  }
  .card {
    border-radius: 25px;
    position: relative;
    width: 100%;
    height: 555px;
    ul {
      margin: 0;
      padding: 0;

      & li {
        list-style: none;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.on {
          opacity: 1;
        }
      }

      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
      @media screen and (max-width: 950px) {
        .card-container .card {
          height: 5em;
        }
        img {
          border-radius: 10px;
        }
      }
    }

    .card-title {
      font-size: 12px;
    }

    .button {
      position: absolute;
      cursor: pointer;
      height: 90px;
      top: calc(45% - 25px);

      &.button-previous {
        left: 1.5rem;
        text-align: right;
      }

      &.button-next {
        right: 0;
        right: 1.5rem;
      }
    }
    img {
      height: 120px;
    }
    .counter {
      color: $color-3;
      position: absolute;
      width: 100%;
      bottom: 1rem;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      border-color: transparent;
    }

    @media screen and (max-width: 950px) {
      .card {
        height: 1rem;
        height: none;
      }

      .button {
        width: 1.3em;
        top: 45%;
        // top: calc(45% - 10px);

        &.button-previous {
          left: 10px;
        }
        &.button-next {
          right: 15px;
        }
        img {
          height: 30px;
        }
      }
      // au format mobile, le compteur n'est pas affiché
      .counter {
        opacity: 0;
      }
    }
  }
  @media screen and (max-width: 950px) {
    .card {
      height: 21.4rem;
      border-radius: 10px;
    }
  }
  //--------------------------------------------

  .card-logements {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      margin-top: 0.5em;
    }
    .card-description {
      display: flex;
      flex-direction: column;
      color: $color-1;
      margin-top: 2em;
      flex-grow: 1;

      @media screen and (max-width: 950px) {
        margin-top: 0.3rem;
      }

      // @media screen and (max-width: 360px) {
      //   margin-bottom: 2em;
      // }
      & h1 {
        display: flex;
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        margin: block;
        // line-height: 120%; /* 51.336px */
        top: 0;
        bottom: 0;
        margin-right: auto;
      }
      & h2 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 1em;
        line-height: 182%; /* 25.668px */
      }

      @media screen and (max-width: 950px) {
        h1 {
          font-size: 24px;
          line-height: 145%; /* 19.964px */
          width: 80%;
          margin-bottom: 0px;
        }
        h2 {
          font-size: 18px;
          margin-bottom: 0.7em;
        }
      }

      .card-description-tags {
        display: flex;
        gap: 1em;
        // padding-bottom: 0.6em;
        flex-wrap: wrap;
        @media screen and (max-width: 950px) {
          gap: 0.8em;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          border-radius: 15px;
          background: $background-1;
          color: $color-3;
          flex-shrink: 0;
          font-size: 18px;
          justify-content: center;
          // text-align: center;
          width: 150px;
          // align-items: center;
          height: 35px;
          line-height: 210%; /* 19.964px */
        }

        @media screen and (max-width: 950px) {
          .tags {
            font-size: 14px;
            border-radius: 7px;
            min-width: 100px;
            height: 25px;
          }
        }

        //     @media screen and (max-width: 495px) {
        //       .card-description {
        //         padding-bottom: 2em;
        //       }
        //     }
      }
    }
    // ------------------------------------------------------

    .card-host {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 0.5em;
      text-align: right;
      padding-top: 1.5em;
      @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
        align-items: center;
        // margin-top: 1.5em;
      }
      // @media screen and (max-width: 950px) {
      //   //   // order: 1;
      //   //   margin: 0;
      //   //   align-items: left;
      //   margin-top: 0;
      // }

      .host {
        display: flex;
        text-align: right;
        font-weight: 500;
        font-size: 24px;
        align-items: right;
        margin-left: auto;
        gap: 0.8rem;
        // margin-top: 1.2em;
        width: min-content;
        // padding-top: 0.2em;

        @media screen and (max-width: 950px) {
          margin: 0;
          align-items: left;
        }

        span {
          text-align: right;
          line-height: 143%; /* 19.964px */
          margin-top: 0.5em;
          width: 35%;
        }
        @media screen and (max-width: 950px) {
          span {
            gap: 0.5em;
            font-size: 16px;
            line-height: 134%;
            margin-top: 0;
          }
        }

        @media screen and (max-width: 300px) {
          span {
            font-size: 12px;
          }
        }
        .host-picture {
          width: 84px;
          height: 84px;
          border-radius: 50%;
          flex-shrink: 0;
          margin-left: auto;
        }
        @media screen and (max-width: 950px) {
          .host-picture {
            width: 46px;
            height: 46px;
          }
        }
      }

      .card-rating {
        display: flex;
        margin-top: 0.3em;
        align-items: center;
        gap: 0.2rem;
        flex-shrink: 0;
        font-size: 3.5em;
        &.on {
          color: $color-1;
        }
        .off {
          color: $color-5;
        }
      }
      @media screen and (max-width: 950px) {
        .card-rating {
          margin: 0;
          font-size: 2rem;
        }
        .card-rating span {
          font-size: 24px;
          justify-content: right;
          align-items: center;
          margin: 0;
        }
      }
    }
  }

  // -----------------------------------
  .card-dropdown {
    display: flex;
    gap: 6rem;
  }

  .card-dropdown .dropdown-text {
    font-size: 24px;
  }

  .card-dropdown .dropdown-content {
    font-size: 24px;
    padding: 45px 27px 40px 18px;
  }

  li {
    list-style: none;
  }
  @media screen and (max-width: 950px) {
    .card-dropdown {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding-top: 0.3em;
    }
    .card-dropdown .dropdown-text {
      font-size: 16px;
      padding-bottom: 0;
      padding-left: 20px;
      margin: 0;
    }

    .card-dropdown .open .dropdown-content {
      font-size: 16px;
      padding-bottom: 2px;
      // padding:45px 27px 220px 18px;
    }

    .dropdown-img img {
      height: 15px;
    }
  }
  // ----------------------------------

  //  responsive
  @media screen and (max-width: 950px) {
    // au format mobile, le compteur n'est pas affiché
    .counter {
      opacity: 0;
    }
  }
}
