@import './variables.scss';

.cards {
  background-color: $color-4;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  //  grid-template-columns:repeat(auto-fill,min,max (250px,1fr));
  gap: 3rem 3.5rem;
  padding: 50px;
  transition: 0.3s;
  // width: 100%;
  height: 100%;
}
@media (max-width: 2320px) {
.cards {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 2220px) {
.cards {grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1750px) {
.cards {grid-template-columns: 1fr 1fr 1fr;
}
}
@media (max-width: 1350px) {
.cards {
  // gap: 1.5em 2em ;
  // padding: 25px;
  grid-template-columns:  1fr 1fr;
}
}

@media screen and (max-width: 1090px) {
  .cards {
    gap: 1.25em;
    grid-template-columns:  1fr ;
    padding: 0;
    background-color: white;
    // height: 350px;
  }
}

.card {
  border-radius: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  // min-width: 340px;
  // min-height: 340px;
  //  width: 340px;
    // height: 350px;
height: 340px;
    overflow: hidden;
}

.card-background {
  background: linear-gradient(
    180deg,
    rgba(253, 252, 252, 0) 0%,
    rgba(5, 5, 5, 0.5) 100%
  );
  border-radius: 10px;
  position: absolute;
  inset: 0;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightnes(0.8);
  opacity: 0.5, 30;
  opacity: 0.8;
}

.card-title {
  display: flex;
  color: $color-3;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
    // margin: 1rem 0;
  margin-right: 0px;
  margin-left: 20px;
  overflow: hidden;
  // overflow-wrap: break-word;
  height: 65px;
  line-height: 142.6%;
  align-items: center;
  // width: 70%;
object-fit: cover;
}

@media (max-width: 950px) {
  .card {
    gap: 1em;
    height: 226.2px;
  
  }
  @media (max-width:400px){
    .card {
      height: 256px;
    }
  }
.card-title {
  // font-size: 12px;
   width: 60%;
}

}
