@import './variables.scss';

.card-container {
  color: $color-1;

  .card {
    margin-top: 8px;
    border-radius: 25px;
    position: relative;
    height: 26rem;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;

      & li {
        list-style: none;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        &.on {
          opacity: 1;
        }
      }

      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
      @media screen and (min <= 950px) {
        img {
          border-radius: 10px;
        }
      }
    }

    .card-title {
      font-size: 12px;
    }

    .button {
      position: absolute;
      width: 4.5rem;
      top: 40%;
      cursor: pointer;
// inset: 0;
// content: "";
      &.button-previous {
        left: 0;
        text-align: right;
      }

      &.button-next {
        right: 0;
      }
    }

    .counter {
      color: $color-3;
      position: absolute;
      width: 100%;
      bottom: 1rem;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      border-color: transparent;
    }

    @media screen and (max-width: 950px) {
      .card-container .card {
        height: 15rem;
        border-radius: 10px;
        height: none;
      }

      .button {
        width: 1.3em;
        top: 48%;
      }
      img {
        height: 20px;
      }
      // au format mobile, le compteur n'est pas affiché
      .counter {
        opacity: 0;
      }
    }
  }
  @media screen and (max-width: 950px) {
    .card {
      height: 16rem;
         margin-top: 10px;
         border-radius: 10px;
    }
  }
  //--------------------------------------------

  .card-logements {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    @media screen and (width <= 950px) {
      flex-direction: column;
    }
    .card-description {
      display: flex;
      flex-direction: column;
      color: $color-1;
      margin-top: 2em;
      flex-grow: 1;

      @media screen and (width<= 950px) {
        margin-top: 0.3rem;
      }
      & h1 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        margin: block;
        line-height: 142.6%; /* 51.336px */
        top: 0;
        bottom: 0;
        margin-right: auto;
      }
      & h2 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 1em;
        line-height: 142.6%; /* 25.668px */
      }

      @media screen and (width<= 950px) {
        h1 {
          font-size: 18px;
          line-height: 192.6%; /* 19.964px */
          width: 80%;
        }
        h2 {
          font-size: 14px;
        }
      }

      .card-description-tags {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding-bottom: 0.6em;
        // white-space: nowrap;

        @media screen and (width <= 950px) {
          gap: 0.8em;
        }

        .tags {
          display: flex;
          border-radius: 10px;
          background: $background-1;
          color: $color-3;
          padding: 0.3em 2em;
          flex-shrink: 0;
          font-size: 14px;
          justify-content: center;
          text-align: center;
          align-items: center;
          // line-height: 142.6%; /* 19.964px */
        }

        @media screen and (width <= 950px) {
          .tags {
            padding: 0.3em 0.3em;
            font-size: 10px;
            border-radius: 5px;
            // gap: 0.3em;
          }
        }
      }
    }

    // ------------------------------------------------------

    .card-host {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 0.5em;
      text-align: right;

      @media screen and (width <= 950px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
        align-items: center;
        margin-top: 0.8em;
      }
      .host {
        display: flex;
        text-align: right;
        font-weight: 500;
        font-size: 18px;
        align-items: right;
        margin-left: auto;
        gap: 0.8rem;
        margin-top: 1.2em;
        width: min-content;
        @media screen and (width <= 950px) {
          // order: 1;
          margin: 0;
          align-items: left;
        }

        span {
          text-align: right;
          margin-top: 0.4em;
        }

        @media screen and (width <= 950px) {
          // order: 1;
          gap: 0.5em;
          font-size: 14px;
          // width: min-content;
        }

        @media screen and (width <= 950px) {
          font-size: 12px;
        }

        .host-picture {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          flex-shrink: 0;
          margin-left: auto;
        }

        @media screen and (width <= 950px) {
          img.host-picture {
            width: 36px;
            height: 36px;
          }
        }
      }

      .card-rating {
        display: flex;
        margin-top: 0px;
        align-items: center;
        gap: 0.2rem;
        flex-shrink: 0;
        font-size: 2.5rem;
        &.on {
          color: $color-1;
        }
        .off {
          color: $color-5;
        }
      }
      @media screen and (width <= 950px) {
        .card-rating {
          margin: 0;
        }
        .card-rating span {
          font-size: 24px;
          justify-content: right;
          align-items: center;
          margin: 0;
        }
      }
    }
  }

  // -----------------------------------
  .card-dopdown {
    display: flex;
    gap: 1rem;
    // background: $color-1;
  }
  .car-dropdown .dopdown-rod .false ul {
      background: $color-4;
    }
    .card-dopdown-false .dropdown-text ul li {
      list-style: none;
      background: $color-1;
      vertical-align: inherit;
      padding: 0;
    }
  

  // ----------------------------------

  @media screen and (max-width: 950px) {
    // au format mobile, le compteur n'est pas affiché
    .counter {
      opacity: 0;
    }
  }
}
