@import './variables.scss';

.dropdown-rod {
  font-size: 24px;
  font-weight: 400;
  flex-basis: 50%;
border-radius: 10px;
gap: 5em;
}

.dropdown-title {
  display: flex;
  width: auto;
  max-height: 47px;
  background-color: $color-1;
  color: $color-3;
  border-radius: 5px;
  padding: 0 35px 0 20px;
  align-items: center;
  margin-bottom: 28px;
  // cursor: pointer;
}

.dropdown-text {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
}

.dropdown-content {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  position: relative;
   line-height: 142.6%; /* 34.224px */
  vertical-align: inherit;
  // transition: transform 1.3s ease-in-out;
}

.open .dropdown-content {
  visibility: visible;
  opacity: 1;
  background: $color-4;
  color: $color-1;
  padding: 45px 27px 8px 18px;
  height: auto;
  line-height: 142.6%; /* 34.224px */
  position: relative;
  bottom: 3rem;
  z-index: -1;
  border-radius: 5px;
  overflow: hidden;
 transition: transform .2s ease-in-out;
//  transition: visibility .4s ease-in-out,opacity .4s ease-in-out,
//  height .4s ease-in-out;
}

 .dropdown-img {
cursor: pointer;
font-weight: bold;
}

.open .dropdown-img {
  flex-shrink: 0;
  transform: rotate(180deg);
  transition: all .2s ease-in-out;
}

.false .dropdown-img {
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 950px) {

  .dropdown-rod {
    font-size: 22px;
    padding: 0;
  }

  .dropdown-text {
    font-size: 14px;
    font-weight: 400;
  }
  .open .dropdown-content{
    // padding: 45px 20px 0px 10px;
    font-size: 12px;
  }
  .dropdown-title {
    height: 30px;
    margin-bottom: .9em;
  }
  .dropdown-img img {
    // width: 18.42px;
    height: 8.42px;
  }
}
