@import './variables.scss';

.dropdown-rod {
  flex-basis: 50%;
// gap: 5em;

}
// .dropdown-rod .open {
// padding-bottom: 820px;
// }
.dropdown-title {
  display: flex;
  font-size: 24px;
  background-color: $color-1;
  color: $color-3;
  border-radius: 10px;
  height: 62px;
  align-items: center;
  margin-bottom: 40px;
  // cursor: pointer;
  gap: 8px;
}

.dropdown-text {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  margin-left:20px;
}

.dropdown-content,.dropdown-content-ul {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  position: relative;
   line-height: 142.6%; /* 34.224px */
  vertical-align: inherit;
  transition: transform 1.3s ease-in-out;
}

.open .dropdown-content, .dropdown-content-ul{
  visibility: visible;
  opacity: 1;
  background: $color-4;
  color: $color-1;
  padding: 45px 27px 8px 18px;
  font-size: 32px;
  font-weight: 400;
  height: auto;
  line-height: 142.6%; /* 34.224px */
  position: relative;
  bottom: 3rem;
  z-index: -1;
  border-radius: 5px;
  overflow: hidden;
}


 .dropdown-img img{
cursor: pointer;
font-weight: bold;
margin: 40px;
height: 20px;
// width: 30px;
}

.open .dropdown-img {
  flex-shrink: 0;
  transform: rotate(180deg);
  transition: all .2s ease-in-out;
}

.false .dropdown-img {
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 950px) {
.dropdown-title {
  height: 45px;
}
  .dropdown-text {
    font-size: 16px;
    font-weight: 400;
  }
  .open .dropdown-content,.dropdown-content-ul{
    padding: 45px 27px 80px 18px;
    font-size: 16px;
  }

  .dropdown-title {
    height: 40px;
    margin-bottom: 1.1em;
  }
  .dropdown-img img {
    width: 26px;
    height: 14px;
    margin: 8px;
  }
}
