@import './variables.scss';

.error {
  color: $color-1;
  text-align: center;

// margin-top: 9rem;

margin-bottom: 4rem;
  h1 {
    // font-size: 288px;
  font-size: 200px;
    // font-size: 18rem;
    // margin-top: rem;
    // margin-bottom: 0.5em;
    margin-bottom: 2rem;
    // margin-top: 15rem;
    font-weight: 700;
    // padding: 0px;
  }

  h2 {
    // font-size: 2rem;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12rem;
    
  }

  a {
    font-size: 18px;
    // font-size: 1rem;
    color: $color-1;
    text-decoration: underline;
    // text-decoration: none;
    // &:hover {
    // text-decoration: underline;
    // }
    // margin-bottom: 4rem;
  }
}
