@import './variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-1;
  align-items: center;

  @media (max-width: 950px) {
    padding-bottom: 40em;
  }

  & h1 {
    display: block;
    font-size: 288px;
    padding-top: 5px;
    font-weight: 700;
    line-height: 64%;
    margin-bottom: 98px;

    @media (max-width: 950px) {
      padding-top: 10px;
      font-size: 96px;
    }
  }

  & h2 {
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    vertical-align: 100px;

    @media (max-width: 950px) {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      line-height: 142.6%; /* 25.668px */
    }
  }

  & a {
    font-size: 18px;
    color: $color-1;
    font-weight: 500;
    text-decoration: underline;
    padding-top: 205px;

    @media (max-width: 950px) {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      color: $color-1;
    }
  }
}
