@import './variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-1;
  align-items: center;

  & h1 {
    display: block;
    font-size: 288px;
    font-weight: 700;
    line-height: 60%;
    margin-bottom: 80px;

    @media (max-width: 950px) {
      vertical-align: 550px;
      font-size: 96px;
      margin: 200px 0 15px 0;
    }
  }

  & h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    vertical-align: 100px;

    @media (max-width: 950px) {
      font-size: 18px;
      font-weight: 500;
      line-height: 142.6%; /* 25.668px */
    }
  }

  & a {
    font-size: 18px;
    color: $color-1;
    font-weight: 500;
    text-decoration: underline;
    padding-top: 115px;

    @media (max-width: 950px) {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      color: $color-1;
    }
  }
}
