@import './variables.scss';

.footer {
  background-color: $color-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 208px;
  width: 100%;
  left: 0;

  & .footer-logo {
    height: 40px;
    margin-top: 66px;
    filter: brightness(80);
    @media (max-width: 950px) {
      margin-top: 62px;
    }
  }
  & .footer-text {
    font-size: 24px;
    margin-top: 35px;
    font-weight: 300;
    text-align: center;
    line-height: 192.6%; /* 19.964px */
    color: $color-3;
    filter: brightness(20);

    @media (max-width: 950px) {
      font-size: 12px;
      margin-top: 30px;
      line-height: 142.6%; /* 19.964px */
    }
  }
}
