@import './variables.scss';

.footer {
  background-color: $color-2;
  display: flex;
  padding: 21px;
  flex-direction: column;
  justify-content: center;










  
  align-items: center;

  height: 210%;

  .footer-logo {
    // filter: brightness(10);
    height: 30px;
  }

  .footer-text {
    font-size: 24px;
    color: $color-3;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
}
