@import './variables.scss';

.header {
  color: $color-1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 20px 95px 45px 95px;
  .logo {
    margin-top: 20px;
  }
  .ul-nav {
    display: flex;
    color: $color-1;
    gap: 4rem;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 26px;
        font-weight: 500;
        // line-height: 8px;
        color: $color-1;
        text-wrap: nowrap;
      }
      & .nav-active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    padding: 0 20px 0px 20px;

    img {
      height: 50px;
      margin-top: 5px;
    }
    .ul-nav {
      gap: 1.5em;
      max-width: 220px;
      padding-top: 30px;
    }
    p {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 320px) {
  .header {
    height: 25px;
    padding: 0 20px 30px 20px;
    img {
      height: 35px;
    }
    .ul-nav {
      margin: 0;
      padding: 0;
      gap: 0.8em;
      padding-top: 10px;
    }
    p {
      padding-top: 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 300px) {
  .header {
    height: 35px;

    p {
      padding-top: 12px;
      font-size: 10px;
    }
  }
}
