@import './variables.scss';

.header {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: space-between;
  font-weight: 700;
  height: 68px;
  padding: 20px 80px 50px 80px;
  & .logo {
    flex-shrink: 0;
    margin-top: 20px;
  }
  & ul {
    display: flex;
    gap: 4rem;
    margin: 0;
    & li {
      list-style: none;
      font-size: 24px;
      & a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        color: $color-1;
          
      }
      & .nav-active {
        text-decoration: underline;
      }
    }
  }

}

@media (max-width: 1001px) {
  .header {
    // height: 80px;
    padding: 1em;
    & .header-logo img {
      // height: 40px;
      margin-top: 5px;
    }
    & ul {
     gap: 0.5rem;
     margin: 0; 
    }
    & p {
     font-size: 12px;
     text-transform: uppercase;
    }
  }
  
}

@media (max-width: 400px){
.header .header-logo img {
  // height: 25px;
  padding-top: 20px;
} 
  .header li p{
     font-size: 10px;
     text-transform: uppercase;
    }
}
