@import './variables.scss';

.header {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: space-between;
  // color: $color-1;
  font-weight: 700;
  height: 69px;
  // height: 100%;
  padding: 20px 80px 50px 80px;
  & .logo {
    // height: 68px;
    // display: block;
    flex-shrink: 0;
    margin-top: 20px;
    // margin: 0;
    
  }
  & ul {
    display: flex;
    gap: 4rem;
    margin: 0;
    & li {
      list-style: none;
      font-size: 24px;
      // padding-bottom: 4px;
      // margin: 0;
      & a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        color: $color-1;
          
        & .nav-active {
          text-decoration: underline;
        }
      }
    }
  }

}

@media (max-width: 1001px) {
  .header {
    height: 80px;
    padding: 1em;
    & .header-logo img {
      height: 40px;
      margin-top: 5px;
      // width: 145px;
    }
    & ul {
     gap: 0.5rem;
     // line-height: 142.6%;
     margin: 0;
      
    }
    & p {
     font-size: 12px;
     text-transform: uppercase;
    }
  }
  
}

@media (max-width: 400px){
.header .header-logo img {
  height: 25px;
  padding-top: 24px;
} 
  .header li p{
     font-size: 8px;
     text-transform: uppercase;
    }
}
