

//<link rel="preconnect" href="https://fonts.googleapis.com">
//<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
@import url('https:fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


//Définitions des typographies
$font-family-1: 'Montserrat', sans serif;


//Définitions des couleurs
$text-color: rgb(255, 0, 85);
$color-1: #ff6060;
$color-2: #000;
$color-3: #fff;
$color-4: #f7f7f7;
$color-5: #e3e3e3;
$background-1: #ff6060;
